Repository bingryan/obsidian-markdown-export-plugin, pull requests merged in 2022-12, with the labels that each got.

#14 update ci permissions
  .github/workflows/release.yml
Labels: skip-release

#16 update release workflow
  .github/workflows/release.yml
Labels: skip-release

#17 update release workflow
  .github/workflows/release.yml
Labels: skip-release

#18 update release workflow
  .github/workflows/release.yml
Labels: skip-release

#19 update release workflow
  .github/workflows/release.yml
Labels: skip-release

#13 Embed markdown in exported files
  manifest.json
  package-lock.json
  src/config.ts
  src/utils.ts
  versions.json
Labels: release

#21 Fix non local attachment copy.
  src/utils.ts
Labels: release

#22 ci: add lint
  .github/workflows/lint-and-build.yml
  .github/workflows/release.yml
  manifest.json
  package.json
  src/utils.ts
  tsconfig.json
  versions.json
Labels: release, publish

#24 update readme
  README.md
Labels: skip-release
